<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daily Expenses</title>
</head>
<body>
<h3>Додати нову витрату</h3>

<form action="#" th:action="@{/expenses/add}" th:object="${expense}" method="post">
  <p>
    <label for="name">Назва:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
  </p>
  <p>
    <label for="amount">Сума:</label>
    <input type="number" id="amount" name="amount" th:field="*{amount}" required>
  </p>
  <p>
    <label for="category">Категорія:</label>
    <input type="text" id="category" name="category" th:field="*{category}">
  </p>
  <p>
    <label for="description">Опис:</label>
    <input type="text" id="description" name="description" th:field="*{description}">
  </p>
  <p>
    <label for="date">Дата:</label>
    <input type="date" id="date" name="date" th:field="*{date}" required>
  </p>
  <p>
    <button type="submit">Зберегти</button>
  </p>
</form>
</body>
</html>
